body{
    background-color: rgb(43, 43, 43);
    color: white;
    
}

nav{
  font-family: 'Sofia', sans-serif;  
    
}

.main{
    display: flex;
}

.carousel-item img{
    height: 100vh;
    
}

#home{
    height: 100vh;
    /* background-color: red; */
}

#service{
    height: 100vh;
}

#about{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.409);
    
}
#popular{
    height: 100vh;
    
}
#menu{
    height: 100vh;
    
    
}
#contact{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.409);
}



.lexi p{
    width: 400px;
    margin: auto;
    
}

.container {
    border: 2px solid white;
    background-color: black;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
  }
  
  /* Clear floats after containers */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Float images inside the container to the left. Add a right margin, and style the image as a circle */
  .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Increase the font-size of a span element */
  .container span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  /* Add media queries for responsiveness. This will center both the text and the image inside the container */
  @media (max-width: 500px) {
    .container {
      text-align: center;
    }
  
    .container img {
      margin: auto;
      float: none;
      display: block;
    }
  }
